body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  margin-bottom: 2em;
  z-index: 2; 
  background-color: transparent !important;
}

.navbar-brand {
  color: #fff; 
}

/* Estilo de la lista del menú */
#navbarToggleExternalContent ul {
  display: flex; /* Establece el modo flexbox */

}

/* Estilo de los enlaces */
#navbarToggleExternalContent ul li a {
  display: block; /* Ocupa todo el ancho */
  padding: 0.5rem 1rem; /* Añade padding para mejor visibilidad */
  width: auto; /* Ajusta el ancho según sea necesario */
}

/* Eliminar margen flotante */
.navbar-toggler {
  float: none; /* Elimina el margen flotante */
}
.card-img-top {
 
  height: 8em !important; /* Altura a tu preferencia */
}

.seccion-contacto {
  margin-bottom: 0 auto !important; /* Elimina el margen inferior */
  border-bottom: none !important; /* Elimina el borde inferior */
 
}

.card{
  background-color: #17A2B8;
}
.form-control {
  width: 100%; /* Ajusta el ancho de las etiquetas del formulario */
}

.btn-primary { 
  background-color: #17A2B8; 
  color: #fff; 
}

footer {
  
  align-items: center; /* Alineación vertical al centro */
  height: 2em; /* Define la altura del footer */
  width: 100%; /* Ocupa todo el ancho */
}

.mt-5 {
  height: 3em; /* Ajusta la altura si es necesario */
  margin-top: 2em;
}

.mt-5 h2 {
  font-size: 0.5em; /* Reduce el tamaño del título */
  max-height: 2em;
}



