/*Diseño que se utilizará en toda la pagina*/
body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
}

/*Propiedades para el navbar*/
.navbar {
  
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  margin-bottom: 2em;
  z-index: 2; 
  background-color: transparent !important;
}
/* Clase para colocar el nombre del logo en blanco */
.navbar-brand {
  color: #fff; 
}

/* Estilo de la lista del menú, se utiliza el id para que no se desborde el contenido */
#navbarToggleExternalContent ul {
  display: flex; 

}

/* Estilos para los elementos "a" dentro de la lista del menú (ul) del "navbarToggleExternalContent". 
Ocupa todo el ancho, añade padding y ajusta el ancho automáticamente. */
#navbarToggleExternalContent ul li a {
  display: block; 
  padding: 0.5rem 1rem; 
  width: auto; 
}

/* Eliminar margen flotante */
.navbar-toggler {
  float: none; 
}
/* Ajusta la altura de las imagenes */
.card-img-top {
  height: 8em !important; 
}
/*Agrega color de fondo a las "card" */
.card{
  background-color: #17A2B8;
}
/* Elimina el margen y el borde interior de la clase "seccion-contacto". */
.seccion-contacto {
  margin-bottom: 0 auto !important;
  border-bottom: none !important; 
 
}

/* Ajusta el ancho de las etiquetas del formulario */
.form-control {
  width: 100%; 
}
/*Se cambia el color del boton por defecto de boostrap*/
.btn-primary { 
  background-color: #17A2B8; 
  color: #fff; 
}

/* Estilos del footer: Alineación vertical al centro, define la altura y ocupa todo el ancho. */
footer {
  
  align-items: center; 
  height: 2em; 
  width: 100%; 
}




